html, body{
    margin: 0;
    padding: 0;
  }
  
  .welcome-section{
    background-color:rgba(0, 0, 0, 0.2);
    background-image: url(../background.jfif);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    font-size: large;
  }

  
  .nav ul{
    margin: 0;
  
  }
  
  .nav li{
    display: inline;
  }
  
  .nav a{
    display:inline-block;
    color: coral;
    text-decoration: none;
    padding: 2.5rem;
  }
  
  .main-nav{
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, .8);
  }
  
  
   .nav :hover{
     background-color: rgb(248, 122, 3);
   }
  
  
  .band-logo{
    text-align: center;
    margin: 0;
    color: coral;
    font-size: 3em;
    font-family: papyrus;
  }
  
  .band-logo-large{
     font-size: 8em;
  }
  
  .
  
  .main-footer{
    background-color:rgb(252, 63, 16);
    padding: 0.25em 0;
  }
  
  .container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
  }
  
  .container main-foot-container{
   display: flex;
   align-items: center;
  }
  
  .main-foot-container ul{
    flex-grow: 1;
    text-align: end;
  }
  
  .footer-nav{
    padding: 0.5em;
  }
  .section-content{
    margin: 1em; /*top right bottom and left*/
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 30;
    text-align: left;
  }
  .section-header{
    font-size: 2em;
    color: rgb(59, 49, 2);
    font-family: papyrus;
    font-weight: bold;
    text-align: center;
  }
  .about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 15px;
    
  }
 .section-text{
   text-align: right 50em;
 }
  
  .project{
    font-size: 8em;
  }
  
  .main-nav-project{
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, .8)
 }



}

html, body{ 
margin: 0;
padding: 0;
}

.Project-welcome-section{
  background-color:rgba(0, 0, 0, 0.2);
  background-image: url(../background.jfif);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
  font-size: large;
}






